<% if session[:error] %>
  <div class="flash error">
    <p><%= session.delete(:error)%></p>
  </div>
<% end %>

<form actions="/surveys/new" method="post">
  <dl>
    <dt>
      <label for="survey_name">Enter the name of your new survey:</label>
    </dt>
    <dd>
      <input name="survey_name" placeholder="Survey Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/surveys">Cancel</a>
  </fieldset>
</form>